/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Open Sans";
}

.centerText {
  text-align: center;
}

/* BARRA DE NAVEGACION */

.logoContainer {
  display: flex;
  align-items: center;
}
nav {
  user-select: none;
  padding: 0.5rem;
}
.navPopupBtn {
  display: none;
}
nav,
ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
}

nav ul {
  gap: 1rem;
}

nav ul li,
.btnLogin,
.btnRegister,
a {
  transition: 0.5s;
}

nav ul li:hover,
.btnLogin:hover,
.btnRegister:hover,
a:hover {
  cursor: pointer;
  color: grey;
  transform: scale(1.05);
}

.loginRegister {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.btnLogin {
  border: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
}

.btnRegister {
  background-color: #2ad167;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  cursor: pointer;
}

.logoImg {
  width: 3rem;
  padding: 2px;
}

.logo {
  font-family: Roboto;
  font-size: 2rem;
}
nav a {
  text-decoration: none;
  color: black;
}

/* VERSION MODAL */
#modal {
  color: white;
  background-color: #fff9;
  position: fixed;
  inset: 0;
}
.modalInside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem;
  background-color: #2a3342;
  position: absolute;
  inset: 4rem;
}

#modal h2 {
  margin-top: 15px;
}

#modal h5 {
  color: #fff8;
  margin-top: 10px;
}

.modalInside form {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
}

.modalInside input,
.modalInside button {
  padding: 0.5rem;
  border-radius: 5px;
}

#modal label {
  display: block;
  color: white;
}

.modalImg {
  background-color: #2ad167;
  align-self: center;
  border-radius: 10px;
  padding: 0.5rem;
  width: 3rem;
}

.closeBtn {
  position: absolute;
  top: 0;
  font-weight: 1000;
  font-size: 2rem;
  right: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* SECCION CHECK (RECORDARME)*/
.rememberCheck {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 0.6rem;
}

.checkFlex {
  display: flex;
}

#modal .registerLink {
  color: #2ad167;
  display: inline;
  cursor: pointer;
}

.modalInside button {
  background-color: #2ad167;
  color: white;
  border: none;
  margin: 10px 0;
  cursor: pointer;
}

.labelModal {
  margin: 20px 0 3px 0;
}

.modalRegister {
  font-size: 0.6rem;
  gap: 5px;
}

select {
 padding: 0.5rem;
 
}

.repeatPassword{
  margin-bottom: 1rem;
}
/* SECCION HEADER */
header {
  max-width: 1200px;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.headerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 2rem;
}

.headerText span {
  font-size: 0.7rem;
  background-color: #2ad167;
  color: white;
  padding: 3px 6px;
  border-radius: 16px;
}
header h1 {
  font-family: Roboto;
  font-size: 2rem;
  margin: 1rem 0;
}
header h5 {
  opacity: 0.5;
  margin-bottom: 1rem;
}
header button {
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}
.greenBtn {
  border: none;
  color: white;
  background-color: #2ad167;
}
.whiteBtn {
  border: 0.5px solid #0003;
  background-color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 0.8rem;
  cursor: pointer;
}
.headerImgContainer {
  position: relative;
  background-image: url(./Materiales/header.jpg);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1;
}
.imgTop {
  position: absolute;
  top: 0;
  left: 0;
}
.imgBottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* SECCION CARACTERISTICAS */
.caracteristics {
  display: flex;
  justify-content: space-around;
}
.caracteristics article {
  text-align: center;
  padding: 2rem;
}
.caracteristics img {
  background-color: #2ad167;
  width: 2rem;
  height: 2rem;
  padding: 0.6rem;
  border-radius: 0.3rem;
}
.caracteristics h5 {
  padding: 0.3rem 0;
}
.caracteristics p {
  font-size: 0.7rem;
  opacity: 0.7;
}

/* POP UP RESPONSIVE */
.popupCheck {
  display: none;
}
.popupCheck:checked + .popup {
  opacity: 1;
  z-index: 1000;
}
.popup {
  opacity: 0;
  z-index: -100;
  transition: 0.2s;
}

/* SECCION PRECIOS CARRUSEL */
.carousel {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
}

.carousel article ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 1rem;
}

.carousel li:before {
  content: "✓";
  color: white;
  background-color: #2ad167;
  padding: 0rem 0.1rem;
  position: relative;
  bottom: 1px;
  border-radius: 50%;
  font-size: 1rem;
  margin-right: 10px;
}

.carousel li {
  opacity: 0.7;
  padding: 0.5rem;
  text-align: left;
}

.carousel p {
  color: #2ad167;
  text-align: center;
}

.price {
  font-size: 0.5rem;
}

#priceSection {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 0 2rem;
}

#priceSection h5 {
  padding: 1rem 0 2rem 0;
  opacity: 0.5;
}

#priceSection h4 {
  font-size: 2rem;
  padding: 0.5rem;
}
#priceSection h4::before {
  content: "$";
  font-size: 1rem;
  position: relative;
  bottom: 0.8rem;
}
#priceSection h4::after {
  content: "/mes";
  font-size: 1.5rem;
}

.carousel article {
  background-color: #f7f8f9;
  animation: fadeIn 1s;
  padding: 2rem 1rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carousel button {
  padding: 0.5rem;
  border-radius: 5px;
}

/* FOOTER SECTION */
footer .logo {
  color: white;
}

footer {
  background-color: #2a3342;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  color: #fff8;
}

footer ul {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding: 2rem 0;
  flex-wrap: wrap;
}

footer li {
  padding: 5px;
}

footer hr {
  border: 1px solid #fff8;
  width: 100%;
  margin-bottom: 2rem;
}

/* CARRUSEL INPUT */
.carousel input {
  display: none;
}

.carousel .carruselNext,
.carousel .carruselPrev {
  display: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 500px) {
  .navPopupBtn {
    text-align: center;
    display: block;
    margin: 0 0.5rem;
    padding: 0.4rem 0;
    width: 2rem;
    border: 1px solid #0002;
    border-radius: 4px;
  }
  nav ul {
    position: absolute;
    top: 3.5rem;
    left: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border: 1px solid #0003;
  }
  nav ul li {
    padding: 0.5rem;
  }
  header {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .caracteristics {
    display: block;
  }
  .caracteristics img {
    width: 3.5rem;
    height: 3.5rem;
    padding: 1rem;
  }
  .caracteristics h5 {
    font-size: 1.5rem;
  }
  .caracteristics p {
    font-size: 1rem;
  }

  .modalInside {
    inset: 4rem 0.5rem;
  }

  .carousel article {
    display: none;
    width: 100%;
  }

  .carousel input:checked + article {
    display: flex;
  }

  .carousel .carruselPrev,
  .carousel .carruselNext {
    display: block;
    position: absolute;
    border: none;
    padding: 0.5rem;
    opacity: 25%;
    color: white;
    background-color: #2a3342;
    border-radius: 50%;
    top: 40%;
  }

  .carruselPrev {
    left: 0;
  }

  .carruselNext {
    right: 0;
  }
}
